{% extends 'user/index.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
    input {
        width: 90%;
    }

    </style>
<div class="container" style="text-align: center;" >
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div
            class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Scan </h6>   
        </div>
        <!-- Card Body -->
        <div class="card-body" style="display:block ;">
            <form action="" method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}