{% extends 'user/index.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block style_references %}
<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
{% endblock%}
{% block content %}
<style>
    #map{
        width: 100%;
        
    }
</style>
<div id="content">
    <div class="container-fluid">
        <!-- <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Position</th>
                                <th>Office</th>
                                <th>Age</th>
                                <th>Start date</th>
                                <th>Salary</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Tiger Nixon</td>
                                <td>System Architect</td>
                                <td>Edinburgh</td>
                                <td>61</td>
                                <td>2011/04/25</td>
                                <td>$320,800</td>
                            </tr>
                            <tr>
                                <td>Garrett Winters</td>
                                <td>Accountant</td>
                                <td>Tokyo</td>
                                <td>63</td>
                                <td>2011/07/25</td>
                                <td>$170,750</td>
                            </tr>
                            <tr>
                                <td>Ashton Cox</td>
                                <td>Junior Technical Author</td>
                                <td>San Francisco</td>
                                <td>66</td>
                                <td>2009/01/12</td>
                                <td>$86,000</td>
                            </tr>
                            <tr>
                                <td>Cedric Kelly</td>
                                <td>Senior Javascript Developer</td>
                                <td>Edinburgh</td>
                                <td>22</td>
                                <td>2012/03/29</td>
                                <td>$433,060</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
        <div class="row" id="outer_container">
            <!-- <div class="col-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
                    </div>
                    <div class="card-body">
                        The styling for this basic card example is created by using default Bootstrap
                        utility classes. By using utility classes, the style of the card component can be
                        easily modified with no need for any custom CSS!
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
                    </div>
                    <div class="card-body">
                        The styling for this basic card example is created by using default Bootstrap
                        utility classes. By using utility classes, the style of the card component can be
                        easily modified with no need for any custom CSS!
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Basic Card Example</h6>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" width="100%" cellspacing="0">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Position</th>
                                        <th>Office</th>
                                        <th>Age</th>
                                        <th>Start date</th>
                                        <th>Salary</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Tiger Nixon</td>
                                        <td>System Architect</td>
                                        <td>Edinburgh</td>
                                        <td>61</td>
                                        <td>2011/04/25</td>
                                        <td>$320,800</td>
                                    </tr>
                                    <tr>
                                        <td>Garrett Winters</td>
                                        <td>Accountant</td>
                                        <td>Tokyo</td>
                                        <td>63</td>
                                        <td>2011/07/25</td>
                                        <td>$170,750</td>
                                    </tr>
                                    <tr>
                                        <td>Ashton Cox</td>
                                        <td>Junior Technical Author</td>
                                        <td>San Francisco</td>
                                        <td>66</td>
                                        <td>2009/01/12</td>
                                        <td>$86,000</td>
                                    </tr>
                                    <tr>
                                        <td>Cedric Kelly</td>
                                        <td>Senior Javascript Developer</td>
                                        <td>Edinburgh</td>
                                        <td>22</td>
                                        <td>2012/03/29</td>
                                        <td>$433,060</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>


{% endblock %}
{% block script_references %}
    <script src="{% static 'vendor/datatables/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'vendor/datatables/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'js/demo/datatables-demo.js' %}"></script>

    <script>
        let outer = document.getElementById("outer_container")
        async function get_ip(){
            url = `/api/getip/?domain={{domain}}&case_number={{case_number}}`
            let ip_address = await fetch(url)
            ip_address = await ip_address.json()    
            toBeAdded = `<div class="col-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Ip Address</h6>
                            </div>
                            <div class="card-body">
                                ${ip_address.ip_address}
                            </div>
                        </div>
                        </div>`
            outer.insertAdjacentHTML("beforeend", toBeAdded)
            get_whois(ip_address.ip_address)
        }
        async function get_whois(ip_address){
            url = `/api/whois/?ip_address=${ip_address}&case_number={{case_number}}`
            let whois = await fetch(url)
            whois = await whois.json()
            if (whois.res.error == true){
                toBeAdded = `<div class="col-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Domain Details</h6>
                            </div>
                            <div class="card-body" style="color:red">
                                Sorry details could not be fetched
                            </div>
                        </div>
                        </div>`
                outer.insertAdjacentHTML("beforeend", toBeAdded)
            }
            else{
                toBeAdded = `
            <div class="col-6">
            <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Domain Details</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Value</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        `

            for(let key in whois.res){
                toBeAdded += `<tr>
                                <td>${key}</td>
                                <td>${whois.res[key]}</td>                             
                            </tr>`
            }
            toBeAdded  += `
            </tbody>
            </table>
            </div></div></div>
                        </div>
                        </div>
                        <div class="col-6" >
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Map</h6>
                            </div>
                            <div class="card-body" id="map" style="height: 500px;">
                            </div>
                        </div>
                        </div>
                        `

            outer.insertAdjacentHTML("beforeend", toBeAdded) 
            let location = { lat: 11.0118701 , lng:76.8971941 };   
            let map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 4,
                    center: location,
                });
            let marker = new google.maps.Marker({
                position: location,
                map: map,
            });
            
                 
            
            }
            get_nmap_port(ip_address)
        }
        async function get_ssl_cert(){
            url = `/api/ssl_certificate/?domain={{domain}}&case_number={{case_number}}`
            let ssl_certificate = await fetch(url)
            ssl_certificate = await ssl_certificate .json()
            toBeAdded = `
            <div class="col-12">
            <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">SSL Validation</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Logged At</th>
                                                <th>Not Before</th>
                                                <th>Not After</th>
                                                <th>Comman Name</th>
                                                <th>Issuer Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        `

            for(let key in ssl_certificate.res["ssl_certificate"]){
                toBeAdded += `<tr>
                                <td>${ssl_certificate.res["ssl_certificate"][key]["logged_at"]}</td>
                                <td>${ssl_certificate.res["ssl_certificate"][key]["not_before"]}</td>
                                <td>${ssl_certificate.res["ssl_certificate"][key]["not_after"]}</td>
                                <td>${ssl_certificate.res["ssl_certificate"][key]["name"]}</td>
                                <td>${ssl_certificate.res["ssl_certificate"][key]["ca"]["name"]}</td>                               
                            </tr>`
            }
            toBeAdded  += `
            </tbody>
            </table>
            </div></div></div>
                        </div>
                        </div>`

            outer.insertAdjacentHTML("beforeend", toBeAdded)
        }
        async function get_wappalyzer(){
            url = `/api/wappalyzer/?url={{url}}&case_number={{case_number}}`
            let wappalyzer= await fetch(url)
            wappalyzer = await wappalyzer.json()
            toBeAdded = `<div class="col-6">
            <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Tech Stack</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Versions</th>
                                                <th>Category</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        `

            for (let key in wappalyzer.res){
                toBeAdded += `<tr>
                                <td>${key}</td>
                                <td>${wappalyzer.res[key].versions}</td>
                                <td>${wappalyzer.res[key].categories}</td>
                                
                            </tr>`
            }
            toBeAdded  += `
            </tbody>
            </table>
            </div></div>
                        </div></div>
                        </div>`

            outer.insertAdjacentHTML("beforeend", toBeAdded)
            get_dns_enum()
        }
        async function get_nmap_port(ip_address){   
            url = `/api/nmap_port/?ip_address=${ip_address}&case_number={{case_number}}`
            let nmap_port = await fetch(url)
            nmap_port = await nmap_port.json()
            console.log(JSON.stringify(nmap_port))

            toBeAdded = `
            <div class="col-6">
            <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Port Status</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Port Number</th>
                                                <th>State</th>
                                                <th>Product</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                        `
            f_key = Object.keys(nmap_port.res)[0] 
            // console.log(typeof(nmap_port.res[f_key]["ports"]))
            for (let key in nmap_port.res[f_key]["ports"]){
                console.log("kerasdf"+key)
                toBeAdded += `<tr>
                                <td>${nmap_port.res[f_key]["ports"][key]["portid"]}</td>
                                <td>${nmap_port.res[f_key]["ports"][key]["state"]}</td>
                                <td>${nmap_port.res[f_key]["ports"][key]["service"]["product"]}</td>
                                
                            </tr>`
            }
            toBeAdded  += `
            </tbody>
            </table>
            </div></div></div>
                        </div>
                        </div>`

            outer.insertAdjacentHTML("beforeend", toBeAdded)
            get_os_scan(ip_address)
        }
        async function get_dns_enum(){
            url = `/api/dns_enum/?domain={{domain}}&case_number={{case_number}}`
            let ssl_certificate = await fetch(url)
            ssl_certificate = await ssl_certificate.json()
            toBeAdded = `
            <div class="col-6">
            <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Server Status</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Server Type</th>
                                                <th>Respected Data</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        `

            for(let key in ssl_certificate.res){
                toBeAdded += `<tr>
                                <td>${key}</td>
                                <td>${ssl_certificate.res[key]}</td>
                                
                            </tr>`
            }
            toBeAdded  += `
            </tbody>
            </table>
            </div></div></div>
                        </div>
                        </div>`

            outer.insertAdjacentHTML("beforeend", toBeAdded)
            get_subdomain_enum()
        }
        async function get_dns_family(){
            url = `/api/dns_for_family/?domain={{domain}}&case_number={{case_number}}`
            let dns_for_family= await fetch(url)
            dns_for_family = await dns_for_family.json()
            toBeAdded = `<div class="col-6">
                        <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Is it Adult content webpage</h6>
                            </div>
                            <div class="card-body">
                                ${dns_for_family.result["kct.ac.in"]}
                            </div>
                        </div>
                        </div>`

            outer.insertAdjacentHTML("beforeend", toBeAdded)
            get_ip()
        }
        async function get_subdomain_enum(){
            url = `/api/subdomain_enum/?domain={{domain}}&case_number={{case_number}}`
            let subdomain_enum = await fetch(url)
            subdomain_enum = await subdomain_enum.json()
            toBeAdded = `
            <div class="col-6">
            <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Related Subdomains</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Subdomains</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        `

            for(let key in subdomain_enum.res["subdomain"]){
                toBeAdded += `<tr>
                                <td>${subdomain_enum.res["subdomain"][key]}</td>                               
                            </tr>`
            }
            toBeAdded  += `
            </tbody>
            </table>
            </div></div></div>
                        </div>
                        </div>`

            outer.insertAdjacentHTML("beforeend", toBeAdded)
            get_ssl_cert()
        }
        // async function get_whatcms(){
        //     url = `/api/whatcms/?domain=kct.ac.in&case_number=1234`
        //     let whatcms = await fetch(url)
        //     whatcms = await whatcms.json()
        //     console.log("whatcms"+whatcms)
        // }

        async function get_os_scan(ip_address){
            url = `/api/os_scan/?ip_address=164.100.134.104&case_number={{case_number}}`
            let os_scan = await fetch(url)
            os_scan = await os_scan.json()
            console.log(os_scan.res["164.100.134.104"]["osmatch"])
            toBeAdded = `
            <div class="col-6">
            <div class="card shadow mb-4">
                            <div class="card-header py-3">
                                <h6 class="m-0 font-weight-bold text-primary">Os Scan</h6>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-bordered" width="100%" cellspacing="0">
                                        <thead>
                                            <tr>
                                                <th>Accuracy</th>
                                                <th>CPE</th>
                                                <th>Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        `
            for(let i =0;i<3;i++){
                try{
                    toBeAdded += `<tr>
                        <td>${os_scan.res["164.100.134.104"]["osmatch"][i]["accuracy"]}%</td>
                        <td>${os_scan.res["164.100.134.104"]["osmatch"][i]["cpe"]}</td>
                        <td>${os_scan.res["164.100.134.104"]["osmatch"][i]["name"]}</td>
                        </tr>
                               `
                }
                catch(err){
                    toBeAdded += `<tr>
                        <td>Error</td>
                        <td>Error</td>
                        <td>Error</td>
                        </tr>`
                }
            }
            toBeAdded  += `
            </tbody>
            </table>
            </div></div></div>
                        </div>
                        </div>`

            outer.insertAdjacentHTML("beforeend", toBeAdded)
            get_wappalyzer()
        }
        get_dns_family()
        // get_whatcms()
    </script>
    <!-- <script>
        function initMap() {
                let location = { lat: -25.344, lng: 131.031 };
                let map = new google.maps.Map(document.getElementById("map"), {
                    zoom: 4,
                    center: location,
                });
                let marker = new google.maps.Marker({
                    position: location,
                    map: map,
                });
        }
        window.initMap = initMap;
    </script> -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeyB29f2HbX747Kqlb34njGl5LDvv5awE&callback=initMap"></script>
{% endblock %}